{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="form-container" style="background-color: #1c1e21; color: #e9ecef; width: 400px; border: 1px solid #495057; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);">
        <div class=class="form-container">
            <h1>Password changed</h1>
            <p>Your password has been successfully changed.</p>
        </div>
    </div>
</div>
{% endblock %}