{% extends "base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="form-container" style="background-color: #1c1e21; color: #e9ecef; width: 400px; border: 1px solid #495057; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);">
        <div class=class="form-container">
          <form action="." method="post">
              <h1>Change you password</h1>
              <p>Use the form below to change your password.</p>
              {{ form.as_p }}
              <p><input type="submit" value="Change" class="btn btn-primary"></p>
              {% csrf_token %}
          </form>
        </div>
    </div>
</div>
{% endblock %}